<a href="https://colab.research.google.com/github/hartlesskl/AnalyticsExamples/blob/master/AshevilleAirBnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
import io

url = "http://data.insideairbnb.com/united-states/nc/asheville/2021-12-15/visualisations/listings.csv"
#listingsFile = request.urlopen(url)
listingsFile = requests.get(url)
listings = pd.read_csv(io.StringIO(listingsFile.text), index_col=0)
#listings = pd.read_table(listingsFile)

listings.head()

                                                     name  ...  license
id                                                         ...
108061  Walk to stores/parks/downtown. Fenced yard/Pet...  ...      NaN
155305                 Cottage! BonPaul + Sharky's Hostel  ...      NaN
156805                  Private Room "Ader" at BPS Hostel  ...      NaN
156926             Mixed Dorm "Top Bunk #1" at BPS Hostel  ...      NaN
160594                                Historic Grove Park  ...      NaN

[5 rows x 17 columns]

In [ ]:
listings.describe()

            host_id  neighbourhood_group  ...  number_of_reviews_ltm  license
count  2.626000e+03                  0.0  ...            2626.000000      0.0
mean   1.194922e+08                  NaN  ...              27.699162      NaN
std    1.151177e+08                  NaN  ...              29.218105      NaN
min    6.266700e+04                  NaN  ...               0.000000      NaN
25%    2.208548e+07                  NaN  ...               4.000000      NaN
50%    8.691098e+07                  NaN  ...              20.000000      NaN
75%    1.744576e+08                  NaN  ...              41.000000      NaN
max    4.358448e+08                  NaN  ...             238.000000      NaN

[8 rows x 13 columns]

In [ ]:
#Calculate the average listing price

#remove free listings (price = 0)
priceFilter = listings['price']==0
prices = listings[~priceFilter]['price']

#calculate the average price
avgPrice = round(prices.mean(),2)

print("The average airbnb price in Asheville is ${} per night.".format(avgPrice))

The average airbnb price in Asheville is $182.61 per night.

In [ ]:
#calculate the price per month for each listing
listings['price_per_month'] = listings['price']*365/12

#calculate the average price per month
avgPricePerMonth = round(listings['price_per_month'].mean(),2)

#compare that average cost of a monthly airbnb to the market rate 
#market rate source: https://www.rentcafe.com/average-rent-market-trends/us/nc/asheville/

ashvilleMarketRate = 1512

print("Average airbnb monthly costs are ${:,.2f}, while the market rate is ${:,.2f}.".format(avgPricePerMonth, ashvilleMarketRate))

Average airbnb monthly costs are $5,554.46, while the market rate is $1,512.00.